<div class="All-content">
  <h2 class="navbar-title headpage d-flex justify-content-center ms-5 ps-5">
  FoodService.com
  </h2>
  <h2 class="heading d-flex justify-content-center ms-5 ps-5">
    Sign-in!
  </h2>
  <section class="UserNew d-flex justify-content-center">
    <%= form_with url: sessions_path do |form| %>
      <div class = "Form-section">
        <label class="FormInput-label">
          Email*
        </label>
        <%= form.email_field :email,
                           class: "Form-input",
                           required: true,
                           autofocus: true,
                           autocomplete: "off"
        %>
      </div>
      <div class = "Form-section">
        <label class="FormInput-label">
          Password*
        </label>
        <%= form.password_field :password,
                              class: "Form-input" ,
                              required: true,
                              autocomplete: "off"
        %>
      </div>
      <%= form.submit "Sign-in!", class: "Form-submit" %>
    <% end %>
  </section>
</div>
