<div class="All-content">
  <h1 class="headingAddItem">Add Items</h1>
    <div class="Add-menu-item">
      <%= form_with(url: menu_items_path,
                  method: "post" ) do |form|
      %>
        <%= render partial: 'form' , locals: { form: form , menu_categories: @menu_categories, menu_item: nil}%>
        <%= form.submit "Add",
            class: "btn btn-outline-success AddButton"
        %>
      <%end%>
    </div>
</div>
