<div class="All-content">
   <h1 class="heading">Menu Items</h1>
   <div class="MenuItemContainer">
      <%= render partial: "layouts/searchbox", locals:
          { url_path: search_menu_item_path,
            place: "Search",
            method: "get"
          }
      %>
      <%if @current_user.roll == "admin"%>
         <div class="AddMenu">
            <abbr title="Add Menu Item">
               <%= link_to image_tag("plus.png", border: 0,class: 'add_menu_items'),
                           menu_add_item_path
               %>
            </abbr>
         </div>
      <%end%>
   </div>
   <% if @current_user.roll != "admin" %>
      <%= render :partial => "carts/cartitems"%>
   <%end%>
   <div class="row">
      <%@items.each do |item|%>
         <%= render 'showmenuitem', item: item %>
      <%end%>
   </div>
</div>
