<div class="All-content">
  <h1 class="heading">DashBoard</h2>
  <div class="container-fluid me-3">
    <div class="row ">
      <%
       values = [
         ["wall-clock", "text-danger" , "Pending" , @pending , "text-primary"],
         ["delivery-man", "text-primary" , "Delivered" , @delivered , "text-success"],
         ["cancellation", "text-warning" , "Cancel" , @cancel , "text-danger"],
         ["shopping-cart", "text-success" , "Today Sales" , @dayTotal , "text-danger"],
         ["week", "text-warning" , "Week Sales" , @weekTotal , "text-primary"],
         ["month", "text-primary" , "Month Sales" ,  @monthTotal , "text-warning"],
         ["profit", "text-warning" , "Year Sales" , @yearTotal , "text-success"],
         ["money-bag", "text-primary" , "Over All sales" ,  @overAll , "text-danger"],
         ["wage", "text-danger" , "Maximum Sales a day" , @highestsale , "text-primary"],
        ]
        values.each do |value|
      %>
      <%= render partial: "divcontainer" , locals: {
          image_url:  value[0],
          color: value[1],
          content: value[2],
          number:value[3],
          content_color: value[4]
      }%>
      <%end%>
      </div>
    </div>
  </div>
</div>
