<div class="All-content">
  <div class="container-fluiod homepage">
    <div class="row">
      <div class="col-lg-7 pt-5 col-md-7 col-sm-7">
        <h2 class="h2">
          Order Your Food On FoodService.com Order Food Safely On Food
          Service.com
        </h2>
          <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#Signup" data-bs-whatever="Signup"> Sign up here</button>
          <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#Login-in" data-bs-whatever="Login-in">
            Sign in here
          </button>
      </div>
      <div class="col-lg-5 col-md-7 col-sm-7">
        <%=image_tag "food.png", class: "imag-fir" %>
      </div>
    </div>
  </div>
</div>
<%= render "modal"%>
