<div class="All-content">
  <div class="container-fluiod homepage">
    <div class="row">
      <div class="col-lg-7 pt-5 col-md-7 col-sm-7">
        <h2 class="h2">
          Order Your Food On FoodService.com Order Food Safely On Food
          Service.com
        </h2>
        <button class="btn btn-light"> <%= link_to "Sign up here" ,new_user_path %></button>
        <button class="btn btn-light"> <%= link_to "Sign in here" ,new_sessions_path %></button>

      </div>
      <div class="col-lg-5 col-md-7 col-sm-7">
        <%=image_tag "food.png", class: "imag-fir" %>
      </div>
    </div>
  </div>
</div>
