<h1 class="carthead" >Cart</h1>
<div id="cartitems" >
  <div id="itemsamount">

  </div>
  <h3 id="itemtotal" class="subtotal">Subtotal</h3>
  <h4 id="totalamount" class="totalcart"></h4>
</div>
<div>
  <form action="checkout.html">
    <button id="subtn" class="cartsubmit" type="submit">Checkout</button>
  </form>
</div>
