<div class="All-content">
  <div class="Edit-Category">
    <h1 class="heading">Editing Menu Category</h1>
    <%= render 'form', menu_category: @menu_category %>
    <div class="Back-Link">
      <%= link_to 'Back', menu_category_index_path %>
    </div>
  </div>
</div>
