// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.MenuItems{
  height: auto;
  display: inline-block;
  border: 1px solid black;
  border-radius: 8px;
  margin : 1rem 4rem;
  margin-right: 1rem;
  margin-bottom:3rem;
  padding: 1rem;
  background-color: white;
}

.Item-name{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:1rem;
  font-size: larger;
}
.Item-description{
  padding: 0.5rem 2rem 1rem ;
}

.Item-price{
  margin : auto 2rem;
  display: inline;
}

.Item-category{
  display: inline-block;
  color: red;
  background-color: #FFD2D2;
  padding: 5px 1rem;
  border-radius: 5px;
}

.Add-menu-item{
  display: inline;
  padding-left: 3rem;
}

.AddItem{
  width:250px;
  height:2.2rem;
  border-radius:5px;
  padding-left: 1rem;
  margin : 1rem 10rem;
  margin-top:0rem;
  display: block;
}

.AddItemLabel{
  margin : 1rem 10rem ;
  margin-top:0rem;
  display: block;
}

.AddDescription{
  width:250px;
  height:5rem;
  border-radius:5px;
  padding-left: 1rem;
  padding-top:1.7rem;
  margin : 2rem 10rem;
  margin-top:0rem;
  display: block;
}

.Addcategory{
  width:200px;
  height:2.2rem;
  border-radius:5px;
  padding-left: 1rem;
  margin : 0rem 1rem 2rem 10rem;
}

.Item-button{
  width : 100px;
}

.Add-category-image {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.AddButton{
  width : 100px;
  margin : 0rem 10rem;
  display: block;
}

.Search-menu-item{
  padding-left: 3rem;
  width:500px;
}

.Search-container {
  padding-left: 3rem;
  width:500px;
}


.SearchItem{
  width:250px;
  height:2.2rem;
  border-radius:5px;
  padding-left: 1rem;
  display: inline-block;
}

.MenuItemContainer{
  display: flex;
  margin-bottom: 3rem;
}

.AddMenu{
 margin-left:5rem;
}

.add_menu_items{
  width:2.2rem;
  height:2.2rem;
  margin-left:31rem;
}

.headingAddItem{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 2px;
  padding: 0rem 1rem 0rem 2rem;
}

.InActive{
   float: right;
   background-color: #FFD2D2;
   color: red;
   padding : 5px 8px ;
   border-radius: 5px;
}

.Active{
  float: right;
  background-color:  #6dd429 ;
  color:  white;
  padding : 5px 8px ;
  border-radius: 5px;

}



.carthead{
  display: inline-block;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color : #7e808c;
}

.cart {
  display: inline-block;
  height : 400px;
  float: right;
  margin : 0rem 1rem 0rem 0rem;
}

.addcart{
  display: inline-block;
  position: relative;
  margin: 0rem;
}

.min{
  border : 0px ;
  margin: 0rem;
  color :red ;
  cursor: pointer;
   outline: none ;
}

.add{
  border : 0px ;
  margin: 0rem;
  color :red ;
  cursor: pointer;
  outline: none ;

}
