// Place all the styles related to the MenuCategory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Categories{
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-box {
  padding: 1rem;
}

.add-category {
  padding: 1rem;
}

.Edit-category-image {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  cursor: pointer;
  margin-right: 2rem;
}

.Delete-category-image {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  cursor: pointer;
  visibility: hidden;
}


.Menu-category{
  display: inline-flex;
  margin-top: 0.5rem;
}

.Add-menu-category{
  width:500px;
  padding-left: 5rem;
}

.Search-menu-category{
    padding-left: 5rem;
    width:500px;
}

.AddCategory{
   width:300px;
   height:2.2rem;
   border-radius:5px;
   padding-left: 1rem;
   margin-left: 1rem;
}

.MenuCategory-items{
  margin-left: 4rem;
  margin-top: 3rem;
}

.Category-button{
  padding-left: 1.5rem ;
  padding-right: 1.5rem;
}

.SearchCategory{
  width:300px;
  height:2.2rem;
  border-radius:5px;
  margin-left: 0.5rem;
  padding-left: 1rem;
}

.Categories:hover {
  background-color: #f1edf7;
  border-radius: 4px;
  cursor: pointer;
}

.Categories:hover .Delete-category-image {
  visibility: visible;
}

.All-content {
  margin: 3rem;
  margin-left: 5rem;
  margin-right: 0rem;
}

.pagination {
  margin-top: 1rem;
}

.Edit-Category{
  border-radius:5px;
  padding-left: 5px;
  margin-left: 1rem;

}

.heading{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 3px;
  padding: 1rem 1rem 2rem 2rem;
}

.EditCategory{
   width:300px;
   height:2.2rem;
   border-radius:5px;
   padding-left: 5px;
   margin-left: 6rem;
}

.EditLabel{
  font-size: large;
  padding:1rem;
  padding-left: 5rem;
  display: block;
}

.Back-Link{
  margin : 3rem;
  margin-left:2.5rem;
}
