body {
  background-color: ghostwhite;
  font-family: "Fira Sans", sans-serif;
}

.main-menu {
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px #d4d4d4;
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  transition: 0.3s ease;
  margin-top: 3rem;
}

.menu-item:hover {
  background-color: #ebebeb;
  color: blue;
}

.menu-item{
  margin-top:2rem;
}

.home {
  padding: 1rem;
  padding-top: 0rem;
}

.link-tag {
  text-decoration: none;
  font-size: larger;
}

.profile{
  color: white;
  padding: 0rem 1rem 0rem 0rem;
}

.profile:hover{
  color: white;
}

.navbar-container{
  padding : 0.8rem 5rem ;
  color : white ;
}

.navbar-title{
  display: inline;
  line-height: inherit;
  font-size: 1.25rem;
  color: #ff4c68
}

.nav-items{
  float : right ;
}

.navbar-items{
  display: inline-block;
  padding : 0rem 2rem 0rem 0rem ;
  color : white ;
}
