// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order-address{
  margin-top: 2rem;
}

.head{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 3px;
}

.order-status{
  margin-top: 2rem;
}

.head-question{
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  word-spacing: 3px;
  padding-right: 0.5rem;
  display: inline-block;
}
