<nav class="navbar navbar-light bg-success">
  <div class="container">
    <a class="navbar-brand" href="#">CafeteriaManagement</a>
  </div>
</nav>
<div class="main-menu">
  <ul>
    <section class="home">
      <abbr title="Add Menu Items">
        <li class="menu-item">
          <%= link_to image_tag("plus.png", border: 0,class: 'Edit-category-image'),
                                menu_add_item_path,class: "link-tag"
          %>
        </li>
      <abbr>
      <abbr title="Menu Categories">
        <li class="menu-item">
          <%= link_to image_tag("category.png", border: 0,class: 'Edit-category-image'),
                               menu_category_index_path,class: "link-tag"

          %>
        </li>
      </abbr>
      <abbr title="Menu Items">
        <li class="menu-item">
          <%= link_to image_tag("fooditem.png", border: 0,class: 'Edit-category-image'),
                               menu_items_path,class: "link-tag"

          %>
        </li>
      </abbr>
    </section>
  </ul>
</div>
