<div class="Search-container col-3">
         <%= form_with(url: url_path , method: method) do |form|%>
            <%= form.text_field :name,
                                class: "SearchItem",
                                autocomplete: "off",
                                placeholder: place,
                                required: true
            %>
            <%= form.submit place,
                class: "btn btn-outline-dark Search Item-button"
            %>
            <% if url_path == "/users/search" %>
                <label class="categoryheading">Search Category </label>
                <%= form.select(:search, options_for_select([["id" , "id"],["name" , "name"], ["role" , "roll"],
                    ["email" , "email"] , ["phonenumber" , "phonenumber"]] , @search_category),
                      {}, { :class => 'btn-outline-dark selection-user'}  )
                  %>
            <%end%>
         <%end%>
</div>
