<%if @current_user %>
<%
  home_items = {
    "Add Menu Items"  => { :image => "shopping-bag" ,  :path => "/orders" , :abbr => "Orders"},
    "Menu Categories" => { :image => "category" , :path => "/menu_category", :abbr => "Menu Categories"},
    "Menu Items"      => { :image => "fooditem"  , :path => "/menu_items", :abbr =>  "Menu Items"},
    "Users"           => { :image => "group" , :path => "/users", :abbr => "Users" },
    "User"            => {:image => "user" ,:path => "/users/#{@current_user.id}" , :abbr => "My Account"},
    "MenuItem recyclebin" => {:image => "delete-folder" , :path => "/menu_items/recycle" , :abbr => "Menu Item recyclebin"}
  }
  admin_rights  = ["/menu_items/addItem" , "/users" , "/menu_items/recycle"]
  home_items.each do |key , value|
     check_admin_rights = admin_rights.include? home_items[key][:path]
%>
    <% if @current_user && (@current_user.roll == "admin" || !check_admin_rights )  %>
      <abbr title="<%= home_items[key][:abbr] %>">
        <li class="menu-item">
          <%= link_to image_tag("#{home_items[key][:image]}.png", border: 0,class: 'Edit-category-image'),
                                home_items[key][:path] , class: "link-tag"
          %>
        </li>
      <abbr>
    <%end%>
  <%end%>
<%end%>
